.h1__universo {
    text-align: right;
    font-family: sans-serif;
    margin-right: 100px;
    color: #000000;
}
.img__universo {
    width: 50px;
    border-radius: 100%;
    position: relative;
    top: -519px;
    left: 1256px;
}
.menu {
    height: 100px;
    width: 1360px;
    position: relative;
    top: -100px;
    left: -10px;
    background-color: #4616b6d3;
}

.menu__links {
    text-decoration: none;
    color: #fff;
    position: relative;
    top: -555px;
    left: 395px;
    font-size: 16px;
    margin: 10px;
    font-family: sans-serif;
}

.esterior {
    margin-left: 60px;
    background: #fff;
    color: #4616b6d3;
    padding: 8px 15px;
    transition: background 1s ease-out;
}

.esterior:hover {
    background: transparent;
    color: #fff;
    border: 1px solid #fff;
}

.fondodescrip {
    background: #fff;
    width: 370px;
    height: 320px;
    border: 1px solid #000;
    padding: 7px;
    position: relative;
    top: -455px;
    transition: border 0.2s ease-out;
    margin-left: 20px;
    font-family: sans-serif;
    font-size: 20px;
    box-shadow: 0px 0px 15px #000;
}

.fondodescrip:hover {
    border: 5px solid #000;
}

.info {
    font-family: sans-serif;
    font-size: 30px;
    position: relative;
    top: -460px;
    left: 20px;
    color: #7300a8;
}

.Video {
    text-decoration: none;
    background-color: #8d07e6;
    color: #fff;
    padding: 3px;
    border-radius: 3px;
}

.img__yotixcx {
    width: 700px;
    margin: 0;
    position: relative;
    left: 500px;
    top: 10px;
}